<p id="notice"><%= notice %></p>

<h1><%= @artist.name %></h1>

<div>
  <% if @artist.image.thumbnail.url %>
    <%= image_tag(@artist.image.thumbnail.url) %>
  <% end %>
</div>
<div class="songs_overview">
  <%= render @songs %>
</div>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
